#mainPage {
  min-height: 100vh;
}
#mainHeader {
  width: 100%;
  background-color: #555;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.logo h2 {
  /* padding: 10px; */
}
#mainNav ul {
  display: flex;
  justify-content: space-between;
}
#mainNav ul li {
  padding: 10px;
  list-style: none;
  width: 75px;
  text-align: center;
}
#mainNav ul li a {
  color: #fff;
  text-decoration: none;
}
